{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>منوی کافه</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
  <h1>منوی دیجیتال کافه ما</h1>
</header>

<section class="menu">
    {% for product in products  %}
        <div class="item">
            <img src="{{ product.image.url}}" alt="{{ product.name  }}">
            <div class="item-content">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}<p>
                <span class="price">تومان <bdi>{{ product.price }}</bdi></span>

            </div>
        </div>
    {% endfor %}


</section>



</body>
</html>
